.header h1,
.header .breadcrumb {
   text-align: center;
}

.book {
       border-bottom: 1px solid rgb(...);
}

.book .addbtn,
.searchBar input[type=submit] {
--padding: 8px 10px;
--border-radius: 5px;
--min-width: 80px;
--float: right;
--font-size: 1.1em;
}

.book .addbtn {
  background-color: rgb(79, 149, 255);
}

div .mynav {
    display: flex;
    justify-content:space-between ;
    
}

