
/*Nav bar*/
.header .breadcrumb {
   text-align: center;
}

/*Nav bar*/
div .mynav {
    display: flex;
    justify-content:space-between ;   
}

/*Search Bar*/
.searchBar input[type=submit] {
--padding: 8px 10px;
--border-radius: 5px;
--min-width: 80px;
--float: right;
--font-size: 1.1em;
}

/*"+Add to cart" button*/
.book .addbtn {
  background-color: rgb(79, 149, 255);
  float: right;
  position: relative;
}

/*Book details*/
.book {
       border-bottom: 1px solid rgb(...);
       
}

/*Book request section*/
.request {
  text-align: center;
}
